# Created by https://www.toptal.com/developers/gitignore/api/flutter,dart,androidstudio,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=flutter,dart,androidstudio,visualstudiocode

### Dart ###
# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
.buildlog/
.packages
.pub/

# Files created by dart2js
*.dart.js
*.info.json      # Produced by the --dump-info flag.
*.js_            # Temporary dump of JS source.
*.js.map
*.js.tar.gz
*.js.tgz
*.dill
*.packages.json

# Files created by dartdoc
dartdoc-viewer/

# Files created by Flutter
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Uncomment to ignore everything in the "doc/api/" directory.
#doc/api/

### Flutter ###
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!**/ios/Flutter/ephemeral/.vmservice
!**/ios/Flutter/flutter_export_environment.sh

# End of https://www.toptal.com/developers/gitignore/api/flutter,dart,androidstudio,visualstudiocode